# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/libs
/script/agouti_generator/in
/script/agouti_generator/out
/script/coordinate_generator/in
/script/coordinate_generator/out
/script/coordinate_mapper/in
/script/copy_area/dst_in
/script/copy_area/src_in
script/copy_area/area_map.png
